body {
  margin: 0px;
  background-color: #040931;
  color: white;
}

header {
  background-color: #01000b;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 800;
  font-variant: small-caps;
  font-size: 25px;
  color: white;
  font-family: "Courier New", monospace;
}

#buffer {
  height: 35px;
  width: 35px;
}

.slidecontainer {
  width: 80%; /* Width of the outside container */
  margin: 10px 10% 0% 10%;
  /* The slider itself */
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
}
.slidecontainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background: #d5daff;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.slidecontainer .slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #70b970;
  cursor: pointer;
}
.slidecontainer .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #70b970;
  cursor: pointer;
}

#number_input {
  background-color: #d5daff;
  width: 80%;
  height: 20px;
  margin: 0% 10% 0% 10%;
  border: none;
  text-align: center;
  font-family: "Courier New", monospace;
  font-weight: 600;
  color: black;
  border-radius: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#control_container {
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 50px auto;
  height: 27px;
}
#control_container .control_wrap {
  border-radius: 100px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.4);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  line-height: 15px;
  font-weight: 100;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  opacity: 0.9;
}
#control_container .control_wrap:hover {
  opacity: 1;
}
#control_container .control_wrap:active .start {
  background-color: #58b058;
}
#control_container .control_wrap:active .clear {
  background-color: #c47070;
}
#control_container .control_wrap #animate_label {
  padding-right: 15px;
  padding-left: 5px;
}
#control_container .control_wrap .control {
  height: 25px;
  width: 75px;
  border: none;
  border-radius: 25px;
  font-family: Verdana, Geneva, sans-serif;
}
#control_container .control_wrap .start {
  background-color: #70b970;
}
#control_container .control_wrap .clear {
  background-color: #d18383;
}
#control_container #start_wrap {
  border: solid 1px #70b970;
  margin-right: 10px;
}
#control_container #start_wrap:active {
  border-color: #58b058;
}
#control_container #start_wrap #speed {
  color: rgba(255, 255, 255, 0.5882352941);
}
#control_container #clear_wrap {
  border: solid 1px #d18383;
  margin-left: 10px;
}
#control_container #clear_wrap:active {
  border-color: #c47070;
}

.display {
  background-color: #040931;
  height: 390px;
  width: 210px;
  margin: 0px calc((100% - 210px) / 2) 0px calc((100% - 210px) / 2);
  position: absolute;
}
.display .segment {
  background-color: #01000b;
  position: absolute;
  border-radius: 150px;
  overflow: hidden;
}
.display .segment .child {
  position: absolute;
  left: "";
  top: "";
  background-color: #d5daff;
  transition: width 0.2s, height 0.2s;
  transition-timing-function: linear;
}
.display .v {
  height: 150px;
  width: 30px;
}
.display .v .child {
  height: 0px;
  width: 150px;
}
.display .h {
  height: 30px;
  width: 150px;
}
.display .h .child {
  height: 150px;
  width: 0px;
}
.display #top {
  top: 0px;
  left: 30px;
}
.display #mid {
  top: 180px;
  left: 30px;
}
.display #btm {
  top: 360px;
  left: 30px;
}
.display #l_top {
  top: 30px;
  left: 0px;
}
.display #l_btm {
  top: 210px;
  left: 0px;
}
.display #r_top {
  top: 30px;
  left: 180px;
}
.display #r_btm {
  top: 210px;
  left: 180px;
}/*# sourceMappingURL=style.css.map */